<div class="row">
	<div class="col-sm-offset-3 col-sm-2 col-xs-offset-1 col-xs-3">
	  <strong> <%= t(:first_name) %>:</strong>
	</div>
	<div class="col-sm-4 col-xs-6">
	  <%= @user.first_name %>
	</div>
</div>

<div class="row">
	<div class="col-sm-offset-3 col-sm-2 col-xs-offset-1 col-xs-3">
	  <strong> <%= t(:last_name) %>:</strong>
	</div>
	<div class="col-sm-4 col-xs-6">
	  <%= @user.last_name %>
	</div>
</div>

<div class="row">
	<div class="col-sm-offset-3 col-sm-2 col-xs-offset-1 col-xs-3">
	  <strong> <%= t(:email) %>:</strong>
	</div>
	<div class="col-sm-4 col-xs-6">
	  <%= @user.email %>
	</div>
</div>

<div class="row">
	<div class="col-sm-offset-3 col-sm-2 col-xs-offset-1 col-xs-3">
	  <strong> <%= t(:address) %>:</strong>
	</div>
	<div class="col-sm-4 col-xs-6">
	<code><%= @user.address %></code> 
	</div>
</div>

<div class="row">
	<div class="col-sm-offset-3 col-sm-2 col-xs-offset-1 col-xs-3">
	  <strong> <%= t(:telephone_number) %>:</strong>
	</div>
	<div class="col-sm-4 col-xs-6">
		<code><%= @user.telephone_number %></code>
	</div>
</div>

<div class="row" style="margin-top:20px;">
	<div class="col-sm-8 col-sm-offset-2 col-xs-offset-1 col-xs-10">
		<%= link_to 'Back', accounts_path, :class => "btn btn-default", :role => "button" %>
	</div>
</div>
