<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Mobank</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li <%= if @section == 'accounts' then 'class=active' end %> > <a href="/accounts"> <%= t(:accounts) %> </a></li>
    <li class="dropdown <%= if @section == 'payments' then 'active' end %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <%= t(:payments) %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/payments"> <%= t(:recent_payments) %></a></li>
            <li><a href="/payments/new"> <%= t(:new_payment) %> </a></li>
            <li><a href="/payees"> <%= t(:manage_payees) %></a></li>
          </ul>
        </li> 
<!-- <li class="dropdown <%= if @section == 'transfers' then 'active' end %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Transfers <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/transfers">View recent transfers</a></li>
            <li><a href="/transfers/new">New transfer</a></li>
            <li><a href="/payees">Manage payees</a></li>
          </ul>
        </li> 
-->
      </ul>
			<% if @user %>
      <ul class="nav navbar-nav navbar-right">
		    <li class=""> <a href="<%= user_path(@user) %>" >  <b> <%= @user.first_name %> <%= @user.last_name %> </b> </a> </li>
        <li> <%= link_to t(:sign_out), destroy_user_session_path, :method => :delete %> </li>
      </ul>
			<% end %>
    </div><!--/.nav-collapse -->
  </div>
</nav>

