
<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'form-signin'}) do |f| %>

    <h2 class="form-signin-header"> <%= t(:sign_in) %> </h2>
    <%= f.label :email, :class => "sr-only" %>
    <%= f.email_field :email, autofocus: true, required: true, :class => "form-control", :placeholder => "Email" %>

    <%= f.label :password, :class => "sr-only" %>
    <%= f.password_field :password, autocomplete: "off", required: true, :class => "form-control", :placeholder => "Password" %>

  <% if devise_mapping.rememberable? -%>
    <div class="checkbox">
        <label>    
          <%= f.check_box :remember_me %> <%= t(:remember_me) %>
        </label>
    </div>
  <% end -%>

    <%= f.submit t(:sign_in), :class => "btn btn-lg btn-primary btn-block"  %>
<% end %>

<!--
    <%= render "devise/shared/links" %>
-->
