<div class="row">
	<div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1" id="new_form">
		<%= form_for(@payment) do |f| %>
  		<% if @payment.errors.any? %>
    		<div id="error_explanation" class="alert alert-danger">
					<button class="close" data-dismiss="alert">×</button>
     			<h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>
					<ul>
     			<% @payment.errors.full_messages.each do |message| %>
       			<li><%= message %></li>
     			<% end %>
     			</ul>
    		</div>
  		<% end %>
			

			<div class="form-group">
				<%= f.label :account, t(:account) %>
				<%= f.collection_select :account_id, @user.accounts.all, :id, :account_type, {},  { :class => "form-control" } %>
			</div>


			<div class="form-group">
				<%= f.label :payee, t(:payee) %> <br>
				<%= f.collection_select :payee_id, @user.payees.all, :id, :name, {},  { :class => "form-control" } %>
			</div>

		
			<div class="form-group">
				<%= f.label :amount, t(:amount) %>
				<div class="input-group">
					<span class="input-group-addon"> <%= t(:currency_unit) %>  </span>
					<%= f.number_field :amount, :class => "form-control text-right" %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :effective_date, t(:effective_date) %>
				<%= f.date_field :effective_date, :class => "form-control" %>
			</div>

			<div class="form-group"> 
				<%= link_to t(:back), payments_path, :class => "btn btn-default", :role => "button" %>
				<%= f.submit t(:submit), :class => "btn btn-primary", :role => "button" %>
			</div>
		<% end %>
	</div>
</div>
