<div class="row">
	<div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
		<h2> <%= t(:recent_payments) %> </h2> 
	</div>
</div>

<div class="row">
	<div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1"> 
		<div class="row">
			<div class="col-xs-12">
				<div class="table-flexible">
					<table class="table table-hover ">
						<thead>
							<tr>
								<th> <%= t(:date_label) %> </th>
								<th> <%= t(:account) %> </th>
								<th> <%= t(:payee) %> </th>
								<th> <%= t(:amount) %> </th>
							</tr>
						</thead>
						<tbody>
								<% @payments.each do |payment| %>
							<tr>
								<td> <%= l(payment.effective_date.to_date, format: :short) %> </td>
								<td> <%= payment.account.account_type %> </td>
								<td> <%= payment.payee.name %> </td>
								<td class="text-right"> <%= number_to_currency(payment.amount / 100.0) %> </td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-1 col-sm-offset-2 col-xs-10 col-xs-offset-1">
		<%= link_to t(:new_payment), new_payment_path, :class => "btn btn-primary", :role => "button" %>
	</div>
</div>                                                                                  


<!--
<p id="notice"><%= notice %></p>

<h1>Listing Payments</h1>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Payee</th>
      <th>Amount</th>
      <th>Effective ts</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.account.account_type %></td>
        <td><%= payment.payee.name %></td>
        <td><%= payment.amount %></td>
        <td><%= payment.effective_date %></td>
        <td><%= link_to 'Show', payment %></td>
        <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
        <td><%= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment', new_payment_path %>
-->
