<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @payment.account %>
</p>

<p>
  <strong>Payee:</strong>
  <%= @payment.payee %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Submitted ts:</strong>
  <%= @payment.submitted_ts %>
</p>

<p>
  <strong>Effective ts:</strong>
  <%= @payment.effective_ts %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
