<p id="notice"><%= notice %></p>

<p>
  <strong>From account:</strong>
  <%= @transfer.from_account %>
</p>

<p>
  <strong>To account:</strong>
  <%= @transfer.to_account %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transfer.amount %>
</p>

<p>
  <strong>Effective ts:</strong>
  <%= @transfer.effective_ts %>
</p>

<%= link_to 'Edit', edit_transfer_path(@transfer) %> |
<%= link_to 'Back', transfers_path %>
