<div class="row">	
	<div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
		<%= form_for(@payee, :html => {:role => 'form'}) do |f| %>
			<% if @payee.errors.any? %>
				<div id="error_explanation" class="alert alert-danger">
					<button class="close" data-dismiss="alert">×</button>
					<h2><%= pluralize(@payee.errors.count, "error") %> prohibited this payee from being saved:</h2>
					<ul>
					<% @payee.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
					</ul>
				</div>
			<% end %>

			<div class="form-group">
				<%= f.label :name %><br>
				<%= f.text_field :name, :class => "form-control", autofocus: true, required: true %>
			</div>
			<div class="form-group">
				<%= f.label :description %><br>
				<%= f.text_field :description, :class => "form-control" %>
			</div>
			<div class="form-group">
				<%= f.label :address %><br>
				<%= f.text_field :address, :class => "form-control"  %>
			</div>
		
			<div class="form-group"> 
				<%= link_to 'Back', payees_path, :class => "btn btn-default", :role => "button" %>
				<%= f.submit "Save", :class => "btn btn-primary", :role => "button" %>
			</div>
		<% end %>
	</div>
</div>

