<div class="row">
	<div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
		<h2> <%= t(:manage_payees) %> </h2>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
		<div class="row">
			<div class="col-xs-12">
	      <table class="table table-hover ">
          <thead>                         
            <tr>                                                                 
		          <th> <%= t(:name) %> </th> 
							<th> <%= t(:description) %> </th>                                      
		          <th> </th>
	          </tr>                                                                  
  	      </thead>
      	  <tbody>
						<% @payees.each do |payee| %>                             
        	  	<tr>
          	  	<td> <%= payee.name %> </td>
								<td> <%= payee.description %> </td>       
            		<td> <%= link_to t(:details), payee %> </td>              
          		</tr>
						<% end %>
					</tbody>
				</table>                                                                   
			</div>
		</div>  
	</div>
</div>

<div class="row">
	<div class="col-sm-1 col-sm-offset-2 col-xs-10 col-xs-offset-1">
		<%= link_to t(:new_payee), new_payee_path, :class => "btn btn-primary", :role => "button" %>
	</div>
</div>                                                                                  

