<div class="row">
	<div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
		<h2> <%= @payee.name %>  </h2>
	</div>
</div>
<div class="row">
	<div class="col-sm-offset-3 col-sm-6 col-xs-offset-1 col-xs-10">
		<div class="row">
			<div class="col-xs-12">
				<h2> <small> <%= t(:description) %> </small> </h2>
				<p> <%= @payee.description %> </p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h2> <small> <%= t(:address) %> </small> </h2>
			</div>
			<div class="col-xs-12">
				<p> <%= @payee.address %> </p>
			</div>
		</div>
	</div>
</div>
<div class="row" style="margin-top:20px;">
	<div class="col-sm-8 col-sm-offset-2 col-xs-offset-1 col-xs-10">
		<%= link_to t(:back), payees_path, :class => "btn btn-default", :role => "button" %>
		<%= link_to t(:edit), edit_payee_path(@payee), :class => "btn btn-primary", :role => "button" %> 
		<%= link_to t(:delete), @payee, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger", :role => "button" %>
	</div>
</div>


