<!DOCTYPE html>
<html>
<head>
  <title>Mobank</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
 
    <% if user_signed_in? %>
    <%= render 'shared/navbar' %>
    <% end %>
  
    <div class="container"> 
        <%= render partial: "shared/flash_messages", flash: flash %> 
        <%= yield %>
    </div>

</body>
</html>
