<% @accounts.each do |account| %>
	<div class="row">
		<div class="col-sm-3 col-sm-offset-3 col-xs-10 col-xs-offset-1">
			<div class="row"> <div class="col-xs-12">  <h2> <small> <%= account.account_type %> </small> </h2> </div> </div>
			<div class="row"> <div class="col-xs-12"> <%= link_to t(:show), account, :class => "btn btn-default", :role => "button" %> </div> </div>
		</div>
		<div class="col-sm-3 col-sm-offset-0 col-xs-10 col-xs-offset-1"> 
			<h2 class="pull-right"> <%= number_to_currency(account.balance / 100.0, ) %> </h2> 
		</div>
	</div>
<% end %>

