<div class="row">
	<div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1"> <h2> <%= t(:account_summary) %> </h2> </div>
</div>

<div class="row">
	<div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">

		<div class="row">
			<div class="col-sm-6 col-xs-12"> <h3> <small> <%= t(:balance) %> </small> </h3> </div>
			<div class="col-sm-6 col-xs-12"> <h3 class="pull-right"> <%= number_to_currency(@account.balance / 100.0 ) %> </h3> </div>
		</div>

		<div class="row">
			<div class="col-sm-6 col-xs-12"> <h4> <small> <%= t(:account_type) %> </small> </h4> </div>
			<div class="col-sm-6 col-xs-12"> <h4 class="pull-right"> <%= @account.account_type %> </h4> </div>
		</div>

		<div class="row">
			<div class="col-sm-6 col-xs-12"> <h4> <small> <%= t(:routing_number) %> </small> </h4> </div>
			<div class="col-sm-6 col-xs-12"> <h4 class="pull-right"> <%= @account.routing_number %> </h4> </div>
		</div>

		<div class="row">
			<div class="col-sm-6 col-xs-12"> <h4> <small> <%= t(:account_number) %> </small> </h4> </div>
			<div class="col-sm-6 col-xs-12"> <h4 class="pull-right"> <%= @account.account_number %> </h4> </div>
		</div>
	
	</div>
</div>

<div class="row">
	<div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
		<h2> <%= t(:recent_transactions) %> </h2> 
	</div>
</div>

<div class="row">
	<div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1"> 
		<div class="row">
			<div class="col-xs-12">
				<div class="table-flexible">
					<table class="table table-hover ">
						<thead>
							<tr>
								<th> <%= t(:date_label) %> </th>
								<th> <%= t(:amount) %> </th>
								<th> <%= t(:description) %> </th>
							</tr>
						</thead>
						<tbody>
								<% @account.transactions.each do |transaction| %>
							<tr>
								<td> <%= l(transaction.effective_date.to_date, format: :short) %> </td>
								<td> <%= number_to_currency(transaction.amount / 100.0) %> </td>
								<td> <%= transaction.description %> </td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>


